:root {
  font-size: 62.5%;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  font-size: 1.6rem;
  background-image: -o-linear-gradient(left, #ff6bc0, #ffdc5b);
  background-image: linear-gradient(to right, #ff6bc0, #ffdc5b);
}
section {
  height: 100%;
}

/* navbar */
.nav_container {
  background-color: #ffffff;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 2rem;
}
.nav_container a {
  color: black;
  text-decoration: none;
}
.navigation_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 100%;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.navigation_box li a {
  letter-spacing: 0.1em;
  display: inline-block;
}
.navigation_box li a:active,
.navigation_box a:hover {
  color: #ce7268;
}

.menu_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
.navigation_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}

/* menu */
.menu_icon {
  position: relative;
}

.hamburger {
  position: absolute;
  margin: 1rem;
  width: 20px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.853);
  border-radius: 10px;
  cursor: pointer;
  z-index: 6;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.hamburger:before,
.hamburger:after {
  content: "";
  position: absolute;
  height: 2px;
  right: 0;
  background: black;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.hamburger:before {
  top: 5px;
  width: 15px;
}
.hamburger:after {
  top: 10px;
  width: 20px;
}
.toggle-menu {
  position: absolute;
  width: 25px;
  height: 25px;
  z-index: 8;
  cursor: pointer;
  opacity: 0;
}

.toggle-menu:checked ~ .hamburger {
  background: transparent;
}
.toggle-menu:checked ~ .hamburger:before {
  top: 5px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 20px;
}
.toggle-menu:checked ~ .hamburger:after {
  top: 5px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 20px;
}
.toggle-menu:checked ~ .navigation_box {
  left: 0;
  top: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 2;
}
.hamburger,
.toggle-menu {
  display: none;
}

/* landing section */

.landing_container {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: calc((9 / 16) * 100%);
  background-image: url("./assets/img1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.landing_content {
  font-family: "Barlow", sans-serif;
  letter-spacing: 0.1em;
  max-width: 600px;
  width: 60%;
  background-color: #cb6e64ab;
  padding: 2em;
  position: absolute;
  top: 40%;
  left: 6%;
  -webkit-transform: translate(0, -40%);
  -ms-transform: translate(0, -40%);
  transform: translate(0, -40%);
  z-index: 1;
  color: white;
}

.landing_content h1 {
  font-size: 3.2rem;
  padding-bottom: 1rem;
}

.landing_content p {
  padding-right: 10rem;
  font-size: 1.4rem;
}

/* order container */
.order_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.order_container h1 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1em;
  font-weight: 600;
  padding: 10rem 0;
  color: white;
  font-size: 3.2rem;
}
.food_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  font-family: "Barlow", sans-serif;
}

.food_card {
  background-color: white;
  border-radius: 0 5rem 0 5rem;
  padding: 20px;
  max-width: 260px;
  max-height: 350px;
  text-align: center;
}

.food_card img {
  width: 100%;
  height: 100%;
  border-radius: 0 5rem 0 0;
  height: 19rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.food_card h2 {
  padding: 1.5rem;
}

.food_card p {
  line-height: 1.5;
}

.order_btn {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 8rem 0 5rem 0;
  padding: 1rem 5rem;
  border: none;
  cursor: pointer;
  border-radius: 3rem;
  background-color: rgba(255, 255, 255, 0.395);
}
.order_btn:hover {
  background-color: #ce7268;
  color: white;
}

@media (max-width: 980px) {
  body {
    font-size: 1.4rem;
  }
  .landing_content {
    width: 80%;
  }
}
@media (max-width: 620px) {
  body {
    font-size: 1.2rem;
  }
  .landing_container {
    aspect-ratio: 4 / 3;
  }
  .nav_container {
    background-color: #ffffff;
    padding: 1.5rem;
  }
  .navigation_box {
    font-size: 0.8em;
  }
  .navigation_icons a span {
    font-size: 0.8em;
  }
  .landing_content p {
    padding-right: 6rem;
  }
  .order_container h1 {
    padding: 8rem 0;
  }
}
@media (max-width: 510px) {
  .navigation_box li a {
    letter-spacing: 0.1rem;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 1rem;
  }
  .landing_container {
    aspect-ratio: 9 / 16;
  }
  .nav_container {
    position: relative;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    height: 40px;
    padding: 0.5rem;
  }
  .hamburger,
  .toggle-menu {
    display: block;
  }
  .menu_items {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 150px;
  }
  .navigation_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    padding-top: 4rem;
    top: 0;
    left: -100%;
    padding-left: 2rem;
    padding-bottom: 1rem;
    line-height: 1.5;
    background-color: #cb6e64e4;
  }
  .navigation_box li a:active,
  .navigation_box a:hover {
    color: white;
  }
  .menu_icon {
    position: absolute;
    top: 0;
    left: 0;
  }
  .navigation_icons {
    position: absolute;
    right: 0;
    padding-right: 1rem;
  }
  .material-symbols-outlined {
    padding-top: 2px;
    font-size: 2rem;
  }

  .landing_content h1 {
    font-size: 2.4rem;
  }
  .landing_content p {
    font-size: 0.8rem;
    padding-right: 3rem;
  }
  .order_container h1 {
    font-size: 2.4rem;
    padding: 4rem 0;
  }
  .order_btn {
    margin: 5rem 0 4rem 0;
  }
  .food_card img {
    height: 18rem;
  }
}
