:root {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(
    90deg,
    rgba(255, 103, 195, 1) 25%,
    rgba(255, 206, 126, 1) 84%,
    rgba(255, 218, 92, 1) 91%
  );
  font-family: sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  transition: ease-in-out 0.25s;
}
img {
  max-width: 100%;
  height: auto;
}

/* navbar */

.nav_container {
  background-color: #ffffff;
  padding: 2rem;
  display: flex;
  align-items: center;
  font-size: 3rem;
}
.nav_container a {
  color: black;
  text-decoration: none;
}
.navigation_box {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: serif;
}
.navigation_box li a {
  padding: 0 2rem;
}
.navigation_box li a:hover {
  box-shadow: 0 -3px 0px black inset, 500px 0 0 rgba(255, 255, 255, 0.03) inset;

  transition: ease-in 0.3s;
}

.navigation_icons {
  display: flex;
  /* justify-content: flex-end;*/
  align-items: center;
  gap: 2rem;
}
.navigation_icons a span {
  font-size: 3.5rem;
}
.menu_icon {
  font-size: 3.5rem;
  position: relative;
}

.hamburger {
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: black;
  border-radius: 10px;
  cursor: pointer;
  z-index: 6;
  transition: 0.3s;
}
.hamburger:before,
.hamburger:after {
  content: "";
  position: absolute;
  height: 4px;
  right: 0;
  background: black;
  border-radius: 10px;
  transition: 0.3s;
}
.hamburger:before {
  top: -10px;
  width: 20px;
}
.hamburger:after {
  top: 10px;
  width: 25px;
}
.toggle-menu {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -20px;
  z-index: 8;
  cursor: pointer;
  opacity: 0;
}
.hamburger,
.toggle-menu {
  display: none;
}
.menu_icon input:checked ~ .hamburger {
  background: transparent;
}
.menu_icon input:checked ~ .hamburger:before {
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}
.menu_icon input:checked ~ .hamburger:after {
  top: 0;
  transform: rotate(45deg);
  width: 30px;
}
.menu_icon input:checked + .menu_icon ~ .navigation_box {
  left: 0;
}

/* Landing Section */
.landing_container {
  position: relative;
  height: 100vh;
}
.landing_container img {
  position: absolute;
  width: 100%;
  height: 90vh;
  z-index: 1;
}
.landing_content {
  position: absolute;
  top: 40%;
  left: 6%;
  transform: translate(0, -40%);
  background: rgba(206, 114, 104, 0.7);
  color: #fff;
  padding: 6rem 8rem 6rem 6rem;
  z-index: 2;
  max-width: 45%;
}
.landing_content h1 {
  font-size: 4rem;
  font-family: sans-serif;
  line-height: 1.5;
}
.landing_content p {
  font-size: 1.6rem;
  line-height: 1.2;
  letter-spacing: 2px;
}

/* Order Section */

.order_container {
  display: flex;
  flex-direction: column;
}
.order_container h1 {
  font-size: 6rem;
  text-align: center;
  font-family: "Prompt", sans-serif;
  font-weight: 700;
  letter-spacing: 0.8rem;
  color: #fff;
  padding: 10rem;
}
.food_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}

.food_card {
  border-radius: 0 10rem 0 10rem;
  background-color: #fff;
  padding: 2.5rem;
  max-width: 35rem;
  max-height: 50rem;
  display: grid;
  grid-template-rows: 65% 30%;
  margin-bottom: 5rem;
}

.food_card div img {
  border-radius: 0 10rem 0 0;
  width: 100%;
  height: 100%;
  padding-bottom: 1rem;
}
.food_card div h2 {
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
  font-weight: bold;
}
.food_card div p {
  text-align: center;
  line-height: 1.5;
  font-size: 2rem;
}

/* button */

.order_btn {
  padding: 1.5rem 6rem;
  margin: 10rem auto;
  font-size: 2.6rem;
  font-weight: 600;
  border-radius: 4rem;
  border: none;
  cursor: pointer;
}
.menu_icon input:checked ~ .navigation_box {
  left: 0; /* Display the navigation box with left: 0 when the checkbox is checked */
}
/* xl screen */
@media (max-width: 1280px) {
  :root {
    font-size: 62.5%;
  }
}

/* lg screen */
@media (max-width: 1024px) {
  :root {
    font-size: 8px;
  }
}
@media (max-width: 880px) {
  :root {
    font-size: 7px;
  }
}
/* md screen */
@media (max-width: 768px) {
  :root {
    font-size: 6px;
  }
}
/* sm screen */
@media (max-width: 640px) {
  :root {
    font-size: 5.5px;
  }
}
@media (max-width: 550px) {
  .navigation_box li a {
    padding: 0 1rem;
  }
}

/* xsm screen */
@media (max-width: 480px) {
  :root {
    font-size: 5px;
  }
  .nav_container {
    position: relative;
    left: 0;
    top: 0;
  }
  .navigation_icons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .navigation_box {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 5;
    flex-direction: column;
    align-items: flex-start;
    background: rgba(206, 114, 104);
    width: auto;
    padding: 5rem;
    /* display: none; */
    line-height: 1.5;
    border-radius: 0 0 5rem 0;
  }

  .hamburger,
  .toggle-menu {
    display: block;
  }
  /* landing Section */
  .landing_container {
    height: 60vh;
  }
  .landing_container img {
    height: 60vh;
  }
  .landing_content {
    max-width: 65%;
  }
  .landing_content p {
    font-size: 1.6rem;
  }
}
@media (max-width: 380px) {
  /* landing Section */
  .landing_container {
    height: 60vh;
  }
  .landing_content {
    max-width: 75%;
  }
  .landing_container img {
    height: 60vh;
  }
  .landing_content h1 {
    font-size: 4rem;
  }
  .order_container h1 {
    padding: 5rem;
  }
  .food_content {
    flex-direction: column;
    margin: 0 auto;
  }
  .food_card {
    max-width: 40rem;
    max-height: 55rem;
    margin-top: 2rem;
  }
  .order_btn {
    margin: 8rem auto;
  }
}
